#profile-container{
    background: rgba(55, 57, 63, 1);
    border-radius: 25px;
}
#profile-img{
    width: 50%;
}
.img-thumbnail2 {
    padding: .1rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .1px;
    max-width: 100%;
    height: auto;
}