:root{
    --primary-color: #A020F0;
    --secondary-color: #1DA1F2;
    --text-color: #ffffff;
}

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.secondary-text{
    color: var(--secondary-color);
  }

.op-card{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.op-card-small{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.parallax-home {
    /* The image used */
    background-image: url("images/mountains.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Navigation Bar */
.navbar-toggler:focus {
    outline: none !important;
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    background: rgba(255, 255, 255);
    padding-right: 16px;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, .1); */
}


.navbar ul.nav li a:hover
 {
    color: var(--primary-color) !important;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.active a:hover,
.navbar ul.nav li.active a:focus {
    color: var(--primary-color) !important;
}

.navbar .nav-link {
    font-size: 18px;
    padding: 0;
}

.navbar .nav-item.open>a {
    background: none !important;
}



/* Cool Link */
.cool-link {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}


/* Home Page */
#home {
    /* background-image: url("images/mountains.jpg"); */
    padding-top: 30vh;
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5); */
    height: 100vh;
    background: linear-gradient(111.06deg, #3245B3 0.31%, rgba(99, 111, 181, 0) 99.16%), #551A8B;
} 

#photo img{
    width: 50%;
    min-width: 350px;
}

#homeTxt{
    font-weight: normal;
    letter-spacing: 0.2em;
    font-size:calc(5px + 0.8vw);
    margin-top: -3%;
}

.btn2:hover, .btn2:focus, .btn2.active, .open>.dropdown-toggle.btn2 {
    background-color: rgba(0, 0, 0,0.3);
}

.btn {
    transition-duration: 0.2s;
}
  
.btn:hover {
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }